:root {
    --primary-color: #2e57a6;
    --primary-color-dark: #17305e;
    --secondary-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.377);
}
.navbar{
    padding: 0;
}
.sitec-nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.377);
}
.sitec-nav-bar > ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0 1.5rem;
}
.sitec-ico{
    width: 80px;
}
.sitec-nav-bar > h1{
    display: flex;
    justify-content: center;
    padding: 1rem 0 0 1rem;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

.sitec-nav-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    border-radius: 10px;
    background-color: var(--secondary-color);
    transition: all 0.3s;
    text-align: center;
    height: 58px;
    margin: 0 0.5rem;
}

.sitec-nav-item:hover {
    background-color: var(--primary-color);
    a{
        color: var(--secondary-color);
    }
}

.sitec-nav-item > a{
    color: var(--primary-color);
    transition: all 0.2s;
}
.sitec-nav-login-btn{
    margin: 0 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    color: var(--secondary-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    transition: all 0.3s;
}
.sitec-nav-login-btn:hover{
    background-color: var(--primary-color-dark);
    color: var(--secondary-color);
}
.active{
    background-color: var(--primary-color);
    a{
        color: var(--secondary-color);
    }
}
.seccion-bienvenida{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 450px;
    margin-top: 5rem;
}
.descripcion-bienvenida{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
}
.descripcion-bienvenida > img{
    width: 300px;
    margin-left: 2rem;
}
.descripcion-bienvenida>p{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    color: var(--primary-color);
    text-align: left;
    padding: 0 0 0 2rem ;
}
.sitec-hero {
    padding-right: 2rem;
    background-image: url(../assets/images/cover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 737px;
}

.hero-container > img {
    width: 40%;
    margin: 6rem 0 -6rem 6rem;
}
.hero-container > h2 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    color: var(--primary-color);
    margin-left: 6.5rem;
}

.sitec-servicios {
    padding: 0 13%;
    height: 700px;
}
.sitec-servicios > h1{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    color: var(--primary-color);
    margin: 1.5rem  0;
}

.servicio-slide {
    display: flex;
    flex-direction: column;
    text-align: start;
    height: 80%;
}
.servicio-slide > h2 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
}
.servicio-slide > p {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
}
.servicio-slide > a {
    width: 35%;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    transition: all 0.3s;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}
.servicio-slide > a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.servicio-slide-next-prev{
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
}