:root {
    --primary-color: #2e57a6;
    --secondary-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.377);
}
.sitec-ico{
    width: 70px;
}

.sitec-nav-item {
    margin: 0 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: var(--secondary-color);
    transition: all 0.3s;
}

.sitec-nav-item:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.dropdown-content {
    margin-top: 1rem;
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0 0 10px 10px;
}

.dropdown-content a {
    color: var(--primary-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s;
}

.dropdown-content a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.dropdown-content > a:last-child:hover {
    border-radius: 0 0 10px 10px;
}

.sitec-hero {
    padding-right: 2rem;
    background-image: url(../assets/images/cover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 737px;
}

.sitec-hero img {
    width: 40%;
    margin: 6rem 0 -6rem 6rem;
}

.sitec-hero h1 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    margin-left: 6rem;
}

.sitec-servicios-slider {
    padding: 0 13%;
    height: 614px;
}

.sitec-services-title {
    text-align: center;
    font-size: 6rem;
    font-family: 'Poppins', sans-serif;
    color: black;
    margin-bottom: 2rem;
}

.size {
    height: 614px;
}

.asada-button,
.credit-button {
    width: 45%;
    padding: 1rem 2rem;
    font-size: 2.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--secondary-color);
    border: solid 3px var(--secondary-color);
    border-radius: 10px;
    background-color: transparent;
}

.asada-button:hover,
.credit-button:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.sitec-asada-service-caption-text,
.sitec-asada-service-caption-header,
.sitec-infra-secure-service-caption-text,
.sitec-infra-secure-service-caption-header,
.sitec-aml-service-caption-header,
.sitec-aml-service-caption-text,
.sitec-erp-service-caption-header,
.sitec-erp-service-caption-text {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.sitec-carrousel-asada-caption,
.sitec-carrousel-infra-secure-caption,
.sitec-carrousel-aml-caption,
.sitec-carrousel-erp-caption,
.sitec-carrousel-credit-caption {
    margin-bottom: 9rem;
}